<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/passerror.css' />
  </head>

  <body>
  <div id="error-message">
    <h2><%= hd %></h2>
    <div><p><%=msg%></p></div>
    <a href="<%=url%>" class="button"><%=btnname%></a>
  </div>
  </body>
</html>
