<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/jquery-ui-1.12.1.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel='stylesheet' type="text/css" href='/stylesheets/passerror.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-ui-1.12.1.js"></script>
  </head>

  <body>
  <div id="error-message">
    <h2><%= hd %></h2>
    <div><p><%=msg%></p></div>
    <a href="<%=url%>" class="button"><%=btnname%></a>
  </div>
  </body>
</html>
