<!DOCTYPE html>
<html>
<head>
    <title>Sunshine and Sprout Daycare</title>
    <!--<link rel='stylesheet' type="text/css" href='/stylesheets/dashboard.css' />-->
    <link rel='stylesheet' type="text/css" href='/stylesheets/profile.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
</head>
<script src="/javascripts/jquery-1.11.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript">
    function check() {
        var photopath = $('#imgpath').val();
        console.log(photopath);
        var cname = $('#cname').val();
        var birthday = $('#birthday').val();
        var address = $('#address').val();
        var weight = $('#weight').val();
        var cheight = $('#cheight').val();
        if (photopath == '' || photopath == undefined) {
            window.alert('Please Select Photo.');
        } else if (cname == '' || cname == undefined) {
            window.alert('Please Input Name.');
        } else if (address == '' || address == undefined) {
            window.alert('Please Input Address.');
        } else if (birthday == '' || birthday == undefined) {
            window.alert('Please Input birthday.');
        } else if (weight == '' || weight == undefined) {
            window.alert('Please input Weight.');
        } else if (cheight == '' || cheight == undefined) {
            window.alert('Input height please.');
        } else {
            $('#profileform').submit();
//            return true;
        }
        return false;
    }

    function handleFiles() {
        var selector = document.getElementById('fileElem');
        if(selector.files && selector.files[0]){
            var oFReader = new FileReader();
            oFReader.readAsDataURL(selector.files[0]);
//            alert("aaa");
            oFReader.onload = function (oFREvent) {
                document.getElementById("photo").src = oFREvent.target.result;
            };
        }
    }
    var socket = io.connect("http://localhost:8080");

    var srvpath = '<%=imgpath%>';
    console.log(srvpath);
    if(srvpath != 'none' && srvpath != undefined){
        $('#imgpath').val(srvpath);
    }

    var nm = '<%=nname%>';
    var grd = '<%=grade%>';
    socket.emit('joinroom',{room:'map', nickname:nm, grade: grd});

    socket.on('notify', function (data) {
        $('#msg').text(data.msg + " is on way.");
        $('#notify').attr({'style':'display:block;background-color:#eaee9a'});
        socket.emit('location', data);
    });

    var onmywayDown = false;

    function onmyway(){
        if (!onmywayDown){
            onmywayDown = true;
            $('#btnOnMyWay').attr({'style': 'background-image : url("/images/myway1.png")'})
        }else{
            onmywayDown = false;
            $('#btnOnMyWay').attr({'style': 'background-image  : url("/images/myway.png")'})
        }

        socket.emit('notify', { msg: nm});
        location.href="/map";
        return true;
    }

    function hide(){
        $('#notify').attr({'style':'display:none'});
    }

</script>
<!--<body onload="loadProfileData();">-->
<body>
    <div id="div-body">
        <!--<div id="div-homebtn" style="float:left;">-->
        <!--</div>-->
        <!--<div id="div-settingbtn" class="float:right;">-->
            <!--<img id="btnSetting" src="" onclick="location.href='';">-->
        <!--</div>-->
        <div id="div-head" class="float:right;">
            <img id="btnhome" src="/images/home.png" style="float:left;" onclick="location.href='/dashboard';">
            <!--<div>-->
                <h2 class="align:center;">Profile</h2>
            <!--</div>-->
        </div>

        <div id="notify" style="display: none;width:100%; height:250px;background-color:#00b7ff;">
            <br>
            <h3 style="text-align: center" id="msg"></h3>
            <button onclick="hide();" style="width:20%;height:30px;margin-left: 40%;">Close</button>
            <br>
        </div>

        <div id="div-main">
            <div id="div-photo">
                <% if (cdata.length>0 ){ %>
                <img id="photo" src="<%=cdata[0].imgsrc %>" width="150" height="150" >
                <% }else if(imgpath != 'none' && imgpath != undefined){ %>
                <img id="photo" src="/uploads/<%=imgpath%>" width="150" height="150" >
                <% } else {%>
                <img id="photo" src="" width="150" height="150" >
                <% } %>
                &nbsp;
                <img id="selectphoto" src="/images/addphoto.png" onclick="location.href='/selectPhoto'">
            </div>

            <form id="profileform" action="/saveProfile" method="post" onsubmit="" >
                <% if (cdata.length>0 ){ %>
                <input name="imgpath" id="imgpath" type="hidden" value="/uploads/<%=cdata[0].imgsrc %>">
                <% }else if(imgpath != 'none' && imgpath != undefined){ %>
                <input name="imgpath" id="imgpath" type="hidden" value="/uploads/<%=imgpath %>">
                <% } else {%>
                <input name="imgpath" id="imgpath" type="hidden" value="">
                <% } %>
                <div id="row">
                    <label class="lbl">Name</label>
                    <% if (cdata.length>0 ){ %>
                        <input type="text" id="cname" name="cname" placeholder="Name" class="ipt" value="<%=cdata[0].child_name %>">
                    <% }else{ %>
                        <input type="text" id="cname" name="cname" placeholder="Name" class="ipt" value="">
                    <% } %>
                </div>
                <div id="row">
                    <label class="lbl">Birthday</label>
                    <% if (cdata.length>0 ){ %>
                        <input type="text" id="birthday" name="birthday" placeholder="2016-1-1" class="ipt" value="<%=cdata[0].birthday %>">
                    <% } else{ %>
                        <input type="text" id="birthday" name="birthday" placeholder="2016-1-1" class="ipt" value="">
                    <% } %>
                </div>
                <div id="row">
                    <label class="lbl">Address</label>
                    <% if (cdata.length>0 ){%>
                        <input type="text" id="address" name="address" class="ipt" value="<%=cdata[0].address%>">
                    <%} else{  %>
                        <input type="text" id="address" name="address" class="ipt" value="">
                    <% } %>
                </div>
                <div id="row">
                    <label class="lbl">Weight</label>
                    <% if (cdata.length>0 ){ %>
                        <input type="text" id="weight" name="weight" class="ipt" value="<%=cdata[0].weight %>">
                    <% }else{ %>
                        <input type="text" id="weight" name="weight" class="ipt" value="">
                    <% } %>
                </div>
                <div id="row">
                    <label class="lbl">Height</label>
                    <% if (cdata.length>0 ){ %>
                        <input type="text" id="cheight" name="cheight" class="ipt" value="<%=cdata[0].height %>">
                    <% } else{ %>
                        <input type="text" id="cheight" name="cheight" class="ipt" value="">
                    <% } %>
                </div>
                <div id="row">
                    <label style="text-wrap: normal;"> Allergies </label>
                    <% if (cdata.length>0 ){ %>
                        <input type="text" id="allergy" name="allergy"  class="ipt" placeholder="ex. egg, peanuts, latex, penicillin"
                           value="<%=cdata[0].allergies %>">
                    <% }else{ %>
                        <input type="text" id="allergy" name="allergy"  class="ipt" placeholder="ex. egg, peanuts, latex, penicillin"
                           value="">
                    <% } %>
                </div>
                <div id="row">
                    <label >Medication &nbsp; :&nbsp;

                        <% if( cdata.length > 0 && cdata[0].medication > 0){ %>
                            <input type="checkbox" name="medication" class ="chk" checked>
                        <% } else { %>
                            <input type="checkbox" name="medication" class ="chk" >
                        <% } %>
                    </label>

                </div>
                <div id="row">
                    <label>Siblings below 5 yrs old?&nbsp;

                        <% if( cdata.length>0 && cdata[0].sibling > 0){ %>
                            <input type="checkbox" name="sibling" class ="chk" checked>
                        <% }else{ %>
                            <input type="checkbox" name="sibling" class ="chk" >
                        <% } %>
                    </label>

                </div>
                <br>
                <div id="btnSave">
                    <img src= "/images/save.png" id="btnSave" onclick="return check();">
                </div>
            </form>
        </div>
        <br>
    </div>
    <div id="div-foot">
        <button id="btnProfile" onclick="location.href='';"></button>
        <button id="btnReport" onclick="location.href='';"></button>
        <button id="btnPhoneCall" onclick="location.href='';"></button>
    </div>

</body>
</html>